<div class="example-container mat-elevation-z8">
  <div class="example-header">
    <mat-form-field>
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
    </mat-form-field>
  </div>

  <mat-table #table [dataSource]="dataSource">

    <!-- Position Column -->
    <ng-container matColumnDef="id.id">
      <mat-header-cell *matHeaderCellDef> Id </mat-header-cell>
      <mat-cell *matCellDef="let fact">
        <a mat-button [routerLink]="['/fact-edit', fact.id.botId, fact.id.id]">{{fact.id.id}}</a>
      </mat-cell>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="id.botId">
      <mat-header-cell *matHeaderCellDef> Bot id </mat-header-cell>
      <mat-cell *matCellDef="let fact"> {{fact.id.botId}} </mat-cell>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
      <mat-cell *matCellDef="let fact"> {{fact.name}} </mat-cell>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="content">
      <mat-header-cell *matHeaderCellDef> Content </mat-header-cell>
      <mat-cell *matCellDef="let fact"> {{fact.content}} </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
</div>
<div class="addButtonDiv">
<button mat-fab color="primary" [routerLink]="['/fact-add']">Add</button>
</div>

